.env
.direnv
*.log
.DS_Store

bt2x/out
*.pem
bt2x-pi-pico-w/target/

.idea

builds
bt2x/bt2x-embedded/dhat-heap.json

out/*
build/*
bt2x-embassy-std/flash-test
bt2x-embassy-std/target/**
benchmark-output/old
benchmark-output/big-bin
benchmark-output/small-bin

__pycache__

# drawio
**/*.bkp

**/bundle.json
**/*cdx.json
**/*cdx.xml
